In [1]:
# 1. 모듈 가져오기
from selenium import webdriver as wd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import time
import pandas as pd

In [2]:
# 2. 브라우저 띄우기
driver = wd.Chrome('./tool/chromedriver.exe')

In [4]:
# 3. 접속
import urllib
# keyword = "Hitter" 
keyword = "Pitcher" 
# keyword = "Defense" 
# keyword = "Runner"
# 만약 한글 그냥 넣었을 때 안 되면 URL 인코딩 처리
# keyword = urllib.parse.quote(keyword)
target_site = f'https://www.koreabaseball.com/Record/Team/{keyword}/Basic1.aspx'
driver.get(target_site)

In [7]:
# 요청
res = urlopen(target_site)

# DOM tree 메모리에 띄우기(파싱)
# DOM(Document Object Model)은 html을 파싱하는(데이터 추출, 조작) 대상이 되는 형식
# html5lib은 parser
soup = BeautifulSoup(res, 'html5lib')

In [ ]:
# yrs = [
#     option.get_attribute('value')
#     for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
#     if option.get_attribute('value')
# ]

# yrs = list(map(int, yrs[14:]))
# yrs

In [ ]:
# for option in driver.find_elements_by_class_name('select03') :
#     if option.get_attribute('value') :
#         print(option.get_attribute('value'))

In [ ]:
# driver.find_element_by_class_name('select03').get_attribute('value')

In [ ]:
# yrs = [
#     option.get_attribute('value')
#     for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
#     if option.get_attribute('value')
# ]
# for yr in yrs :
#     yr_sel = driver.find_element_by_class_name('select03')
#     yr_sel.send_keys(yr)
#     time.sleep(1)

In [ ]:
# httr = list()

# for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
#     httr.append({
#         'YEAR' : driver.find_element_by_class_name('select03').get_attribute('value'),
#         'TEAM' : tr.select_one('td:nth-child(2)').string,
#         'HRA'  : float(tr.select_one('td:nth-child(3)').string),
#         'GAME' : float(tr.select_one('td:nth-child(4)').string),
#         'PA'   : float(tr.select_one('td:nth-child(5)').string),
#         'AB'   : float(tr.select_one('td:nth-child(6)').string),
#         'RUN'  : float(tr.select_one('td:nth-child(7)').string),
#         'HIT'  : float(tr.select_one('td:nth-child(8)').string),
#         'H2'   : float(tr.select_one('td:nth-child(9)').string),
#         'H3'   : float(tr.select_one('td:nth-child(10)').string),
#         'HR'   : float(tr.select_one('td:nth-child(11)').string),
#         'TB'   : float(tr.select_one('td:nth-child(12)').string),
#         'RBI'  : float(tr.select_one('td:nth-child(13)').string),
#         'SH'   : float(tr.select_one('td:nth-child(14)').string),
#         'SF'   : float(tr.select_one('td:nth-child(15)').string)
#     })

# httr

In [ ]:
# yrs = [
#     option.get_attribute('value')
#     for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
#     if option.get_attribute('value')
# ]

# httr = list()
    
# for yr in yrs :
#     yr_sel = driver.find_element_by_class_name('select03')
#     yr_sel.send_keys(yr)
#     time.sleep(1)

#     for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
#         httr.append({
#             'YEAR' : driver.find_element_by_class_name('select03').get_attribute('value'),
#             'TEAM' : tr.select_one('td:nth-child(2)').string,
#             'HRA'  : float(tr.select_one('td:nth-child(3)').string),
#             'GAME' : float(tr.select_one('td:nth-child(4)').string),
#             'PA'   : float(tr.select_one('td:nth-child(5)').string),
#             'AB'   : float(tr.select_one('td:nth-child(6)').string),
#             'RUN'  : float(tr.select_one('td:nth-child(7)').string),
#             'HIT'  : float(tr.select_one('td:nth-child(8)').string),
#             'H2'   : float(tr.select_one('td:nth-child(9)').string),
#             'H3'   : float(tr.select_one('td:nth-child(10)').string),
#             'HR'   : float(tr.select_one('td:nth-child(11)').string),
#             'TB'   : float(tr.select_one('td:nth-child(12)').string),
#             'RBI'  : float(tr.select_one('td:nth-child(13)').string),
#             'SH'   : float(tr.select_one('td:nth-child(14)').string),
#             'SF'   : float(tr.select_one('td:nth-child(15)').string)
#         })

# httr

In [6]:
# https://blog.naver.com/PostView.nhn?blogId=kiddwannabe&logNo=221274278923&categoryNo=35&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView&userTopListOpen=true&userTopListCount=5&userTopListManageOpen=false&userTopListCurrentPage=1

yrs = [
    option.get_attribute('value')
    for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
    if option.get_attribute('value')
]

httr = list()
    
for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
        httr.append([driver.find_element_by_class_name('select03').get_attribute('value'),
            tr.select_one('td:nth-child(2)').string,
            float(tr.select_one('td:nth-child(3)').string),
            float(tr.select_one('td:nth-child(4)').string),
            float(tr.select_one('td:nth-child(5)').string),
            float(tr.select_one('td:nth-child(6)').string),
            float(tr.select_one('td:nth-child(7)').string),
            float(tr.select_one('td:nth-child(8)').string),
            float(tr.select_one('td:nth-child(9)').string),
            float(tr.select_one('td:nth-child(10)').string),
            float(tr.select_one('td:nth-child(11)').string),
            float(tr.select_one('td:nth-child(12)').string),
            float(tr.select_one('td:nth-child(13)').string),
            float(tr.select_one('td:nth-child(14)').string),
            float(tr.select_one('td:nth-child(15)').string)])
httr

NameError: name 'soup' is not defined

In [ ]:
data = pd.DataFrame(httr)
data.head()

In [ ]:
data.columns = [ "연도", '팀명', '타율', '경기', '타석', '타수', '득점', '안타', '2루타', '3루타', '홈런', '루타', '타점', '희생번트', '희생플라이']
data

In [ ]:
data.to_csv('team_hitter.csv', encoding='cp949')

In [15]:
target_site = f'https://www.koreabaseball.com/Record/Team/Pitcher/Basic1.aspx'
driver.get(target_site)
res = urlopen(target_site)
soup = BeautifulSoup(res, 'html5lib')

pttr = list()

yrs = [
    option.get_attribute('value')
    for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
    if option.get_attribute('value')
]
    
for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
        pttr.append([
            driver.find_element_by_class_name('select03').get_attribute('value'),
            tr.select_one('td:nth-child(2)').string,
            float(tr.select_one('td:nth-child(3)').string),
            float(tr.select_one('td:nth-child(4)').string),
            float(tr.select_one('td:nth-child(5)').string),
            float(tr.select_one('td:nth-child(6)').string),
            float(tr.select_one('td:nth-child(7)').string),
            float(tr.select_one('td:nth-child(8)').string),
            float(tr.select_one('td:nth-child(9)').string),
            tr.select_one('td:nth-child(10)').string,
            float(tr.select_one('td:nth-child(11)').string),
            float(tr.select_one('td:nth-child(12)').string),
            float(tr.select_one('td:nth-child(13)').string),
            float(tr.select_one('td:nth-child(14)').string),
            float(tr.select_one('td:nth-child(15)').string),
            float(tr.select_one('td:nth-child(16)').string),
            float(tr.select_one('td:nth-child(17)').string),
            float(tr.select_one('td:nth-child(18)').string)
        ])

In [16]:
data = pd.DataFrame(pttr)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2001,KIA,4.24,66.0,37.0,29.0,15.0,33.0,0.561,579 2/3,581.0,50.0,206.0,24.0,495.0,300.0,273.0,1.36
1,2001,NC,4.40,67.0,44.0,21.0,16.0,36.0,0.677,607,566.0,72.0,243.0,32.0,497.0,313.0,297.0,1.33
2,2001,삼성,4.54,68.0,34.0,34.0,13.0,40.0,0.500,597 1/3,612.0,72.0,247.0,33.0,422.0,337.0,301.0,1.44
3,2001,LG,4.65,68.0,36.0,31.0,14.0,28.0,0.537,609 1/3,663.0,65.0,220.0,36.0,473.0,349.0,315.0,1.45
4,2001,키움,4.73,70.0,39.0,31.0,17.0,34.0,0.557,617,669.0,68.0,195.0,34.0,454.0,353.0,324.0,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020,롯데,4.80,66.0,32.0,34.0,12.0,35.0,0.485,590 2/3,613.0,76.0,215.0,23.0,452.0,342.0,315.0,1.40
196,2020,SK,4.85,69.0,24.0,44.0,12.0,32.0,0.353,606 1/3,625.0,61.0,293.0,35.0,475.0,361.0,327.0,1.51
197,2020,두산,4.90,68.0,40.0,28.0,15.0,23.0,0.588,606 2/3,696.0,50.0,222.0,26.0,451.0,368.0,330.0,1.51
198,2020,KT,5.29,68.0,34.0,33.0,12.0,25.0,0.507,605 1/3,661.0,69.0,239.0,30.0,399.0,375.0,356.0,1.49
199,2020,한화,5.54,70.0,17.0,52.0,7.0,22.0,0.246,609 1/3,715.0,84.0,283.0,43.0,531.0,417.0,375.0,1.64

In [17]:
data.columns = [ 
    "연도", '팀명', '평균자책점', '경기', '승리', '패배', '세이브', '홀드', '승률', '이닝', 
    '피안타', '홈런', '볼넷', '사구', '삼진', '실점', '자책점', '이닝당출루허용률']
data

,연도,팀명,평균자책점,경기,승리,패배,세이브,홀드,승률,이닝,피안타,홈런,볼넷,사구,삼진,실점,자책점,이닝당출루허용률
0,2001,KIA,4.24,66.0,37.0,29.0,15.0,33.0,0.561,579 2/3,581.0,50.0,206.0,24.0,495.0,300.0,273.0,1.36
1,2001,NC,4.40,67.0,44.0,21.0,16.0,36.0,0.677,607,566.0,72.0,243.0,32.0,497.0,313.0,297.0,1.33
2,2001,삼성,4.54,68.0,34.0,34.0,13.0,40.0,0.500,597 1/3,612.0,72.0,247.0,33.0,422.0,337.0,301.0,1.44
3,2001,LG,4.65,68.0,36.0,31.0,14.0,28.0,0.537,609 1/3,663.0,65.0,220.0,36.0,473.0,349.0,315.0,1.45
4,2001,키움,4.73,70.0,39.0,31.0,17.0,34.0,0.557,617,669.0,68.0,195.0,34.0,454.0,353.0,324.0,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020,롯데,4.80,66.0,32.0,34.0,12.0,35.0,0.485,590 2/3,613.0,76.0,215.0,23.0,452.0,342.0,315.0,1.40
196,2020,SK,4.85,69.0,24.0,44.0,12.0,32.0,0.353,606 1/3,625.0,61.0,293.0,35.0,475.0,361.0,327.0,1.51
197,2020,두산,4.90,68.0,40.0,28.0,15.0,23.0,0.588,606 2/3,696.0,50.0,222.0,26.0,451.0,368.0,330.0,1.51
198,2020,KT,5.29,68.0,34.0,33.0,12.0,25.0,0.507,605 1/3,661.0,69.0,239.0,30.0,399.0,375.0,356.0,1.49
199,2020,한화,5.54,70.0,17.0,52.0,7.0,22.0,0.246,609 1/3,715.0,84.0,283.0,43.0,531.0,417.0,375.0,1.64

In [11]:
target_site = f'https://www.koreabaseball.com/Record/Team/Pitcher/Basic2.aspx'
driver.get(target_site)
res = urlopen(target_site)
soup = BeautifulSoup(res, 'html5lib')

pttr2 = list()

yrs = [
    option.get_attribute('value')
    for option in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option')
    if option.get_attribute('value')
]
    
for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
        pttr2.append([
            driver.find_element_by_class_name('select03').get_attribute('value'),
            tr.select_one('td:nth-child(2)').string,
            float(tr.select_one('td:nth-child(3)').string),
            float(tr.select_one('td:nth-child(4)').string),
            float(tr.select_one('td:nth-child(5)').string),
            float(tr.select_one('td:nth-child(6)').string),
            float(tr.select_one('td:nth-child(7)').string),
            float(tr.select_one('td:nth-child(8)').string),
            float(tr.select_one('td:nth-child(9)').string),
            tr.select_one('td:nth-child(10)').string,
            float(tr.select_one('td:nth-child(11)').string),
            float(tr.select_one('td:nth-child(12)').string),
            float(tr.select_one('td:nth-child(13)').string),
            float(tr.select_one('td:nth-child(14)').string),
            float(tr.select_one('td:nth-child(15)').string),
            float(tr.select_one('td:nth-child(16)').string),
            float(tr.select_one('td:nth-child(17)').string)
        ])

In [12]:
data2 = pd.DataFrame(pttr2)
data2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2001,KIA,4.24,1.0,2.0,28.0,5.0,2481.0,9649.0,0.263,107.0,15.0,24.0,21.0,3.0,28.0,4.0
1,2001,NC,4.40,0.0,5.0,39.0,11.0,2596.0,10193.0,0.248,91.0,4.0,22.0,16.0,5.0,34.0,4.0
2,2001,삼성,4.54,1.0,7.0,26.0,6.0,2614.0,10335.0,0.267,111.0,9.0,20.0,23.0,7.0,20.0,2.0
3,2001,LG,4.65,1.0,7.0,37.0,9.0,2684.0,10133.0,0.278,122.0,8.0,17.0,29.0,7.0,19.0,2.0
4,2001,키움,4.73,0.0,2.0,27.0,10.0,2671.0,10242.0,0.278,101.0,9.0,19.0,17.0,3.0,26.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020,롯데,4.80,0.0,7.0,25.0,9.0,2558.0,9881.0,0.271,106.0,5.0,25.0,29.0,9.0,40.0,1.0
196,2020,SK,4.85,0.0,2.0,29.0,13.0,2702.0,10685.0,0.268,114.0,8.0,21.0,20.0,4.0,44.0,2.0
197,2020,두산,4.90,0.0,2.0,31.0,5.0,2706.0,10518.0,0.288,139.0,12.0,19.0,26.0,9.0,26.0,1.0
198,2020,KT,5.29,0.0,1.0,29.0,13.0,2678.0,10179.0,0.279,105.0,3.0,19.0,23.0,8.0,32.0,1.0
199,2020,한화,5.54,1.0,1.0,20.0,10.0,2818.0,11043.0,0.293,122.0,14.0,27.0,24.0,15.0,38.0,3.0

In [13]:
data2.columns = [ 
    "연도", '팀명', '평균자책점', '완투', '완봉', 'QS', '블론세이브', '타자수', '투구수', '피안타율', 
    '2루타', '3루타', '희생번트', '희생플라이', '고의4구', '폭투', '보크']
data2

,연도,팀명,평균자책점,완투,완봉,QS,블론세이브,타자수,투구수,피안타율,2루타,3루타,희생번트,희생플라이,고의4구,폭투,보크
0,2001,KIA,4.24,1.0,2.0,28.0,5.0,2481.0,9649.0,0.263,107.0,15.0,24.0,21.0,3.0,28.0,4.0
1,2001,NC,4.40,0.0,5.0,39.0,11.0,2596.0,10193.0,0.248,91.0,4.0,22.0,16.0,5.0,34.0,4.0
2,2001,삼성,4.54,1.0,7.0,26.0,6.0,2614.0,10335.0,0.267,111.0,9.0,20.0,23.0,7.0,20.0,2.0
3,2001,LG,4.65,1.0,7.0,37.0,9.0,2684.0,10133.0,0.278,122.0,8.0,17.0,29.0,7.0,19.0,2.0
4,2001,키움,4.73,0.0,2.0,27.0,10.0,2671.0,10242.0,0.278,101.0,9.0,19.0,17.0,3.0,26.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020,롯데,4.80,0.0,7.0,25.0,9.0,2558.0,9881.0,0.271,106.0,5.0,25.0,29.0,9.0,40.0,1.0
196,2020,SK,4.85,0.0,2.0,29.0,13.0,2702.0,10685.0,0.268,114.0,8.0,21.0,20.0,4.0,44.0,2.0
197,2020,두산,4.90,0.0,2.0,31.0,5.0,2706.0,10518.0,0.288,139.0,12.0,19.0,26.0,9.0,26.0,1.0
198,2020,KT,5.29,0.0,1.0,29.0,13.0,2678.0,10179.0,0.279,105.0,3.0,19.0,23.0,8.0,32.0,1.0
199,2020,한화,5.54,1.0,1.0,20.0,10.0,2818.0,11043.0,0.293,122.0,14.0,27.0,24.0,15.0,38.0,3.0

In [20]:
data3 = pd.merge(data, data2, on=['연도', '팀명', '평균자책점'])
data3.columns

Index(['연도', '팀명', '평균자책점', '경기', '승리', '패배', '세이브', '홀드', '승률', '이닝', '피안타',
       '홈런', '볼넷', '사구', '삼진', '실점', '자책점', '이닝당출루허용률', '완투', '완봉', 'QS',
       '블론세이브', '타자수', '투구수', '피안타율', '2루타', '3루타', '희생번트', '희생플라이', '고의4구',
       '폭투', '보크'],
      dtype='object')

In [21]:
data3.to_csv('kbo_2001_2020_pitcher.csv', encoding='cp949')

In [ ]:
keyword = "Defense" 
target_site = f'https://www.koreabaseball.com/Record/Team/{keyword}/Basic.aspx'
driver.get(target_site)
res = urlopen(target_site)
soup = BeautifulSoup(res, 'html5lib')

dftr = list()
    
for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
        dftr.append([
            driver.find_element_by_class_name('select03').get_attribute('value'),
            tr.select_one('td:nth-child(2)').string,
            float(tr.select_one('td:nth-child(3)').string),
            float(tr.select_one('td:nth-child(4)').string),
            float(tr.select_one('td:nth-child(5)').string),
            float(tr.select_one('td:nth-child(6)').string),
            float(tr.select_one('td:nth-child(7)').string),
            float(tr.select_one('td:nth-child(8)').string),
            float(tr.select_one('td:nth-child(9)').string),
            float(tr.select_one('td:nth-child(10)').string),
            float(tr.select_one('td:nth-child(11)').string),
            float(tr.select_one('td:nth-child(12)').string),
            float(tr.select_one('td:nth-child(13)').string)
        ])

In [ ]:
data = pd.DataFrame(dftr)
data.columns = [ "연도", '팀명', '경기', '실책', '견제사', '자살', '보살', '병살', '수비율', '포일', '도루허용', '도루실패', '도루저지율']
data

In [ ]:
data.to_csv('team_defense.csv', encoding='cp949')

In [ ]:
keyword = "Defense" 
driver.get(target_site)
res = urlopen(target_site)
soup = BeautifulSoup(res, 'html5lib')

rntr = list()
    
for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    for tr in soup.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr') :
        rntr.append([
            driver.find_element_by_class_name('select03').get_attribute('value'),
            tr.select_one('td:nth-child(2)').string,
            float(tr.select_one('td:nth-child(3)').string),
            float(tr.select_one('td:nth-child(4)').string),
            float(tr.select_one('td:nth-child(5)').string),
            float(tr.select_one('td:nth-child(6)').string),
            float(tr.select_one('td:nth-child(7)').string),
            float(tr.select_one('td:nth-child(8)').string),
            float(tr.select_one('td:nth-child(9)').string)
        ])

In [ ]:
data = pd.DataFrame(rntr)
data.columns = [ 
    "연도", '팀명', '경기', '도루시도', '도루허용', '도루실패', '도루성공률', '주루사', '견제사'
]
data

In [ ]:
data.to_csv('team_runner.csv', encoding='cp949')

In [ ]:
driver.close()
driver.quit()