# 모듈

In [ ]:
!pip install selenium

In [58]:
from selenium import webdriver as wd
import time
import pandas as pd 
import random

In [2]:
chrome_options = wd.ChromeOptions()
chrome_options.add_argument("--incognito")

driver = wd.Chrome('./tool/chromedriver.exe', chrome_options=chrome_options)
driver.implicitly_wait(3)

In [28]:
target_year = '2019'
target_month = '02'
target_day = '29'

target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
driver.get(target_site)

In [48]:
results = list()
pre_df = list()

for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
    results.append(td.text.split())
            
if len(results) == 12 :
    for i in range (1, 11) :
            pre_df.append({
                    "연도" : target_year,
                    "월"   : target_month,
                    "일"   : target_day,
                    "팀명" : results[i][1],
                    '승' : results[i][3], 
                    '무' : results[i][4], 
                    '패' : results[i][5], 
                    'R/G' : results[i][8], 
                    '득점' : results[i][9], 
                    '홈런' : results[i][10], 
                    '도루' : results[i][11], 
                    '볼넷%' : results[i][12], 
                    '삼진%' : results[i][13], 
                    'BABIP' : results[i][14], 
                    '타율' : results[i][15], 
                    '출루율' : results[i][16], 
                    '장타율' : results[i][17], 
                    'OPS' : results[i][18],
                    'wOBA' : results[i][19]
            }) 

dfhm = pd.DataFrame(pre_df)
dfhm

,연도,월,일,팀명,승,무,패,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2015,05,21,LG,1,0,0,4.00,4,2,2,14.0,20.9,0.400,0.323,0.475,0.548,1.023,0.457
1,2015,05,21,롯데,1,0,0,4.00,4,1,0,6.1,18.2,0.304,0.267,0.333,0.467,0.800,0.353
2,2015,05,21,삼성,1,0,0,6.00,6,1,2,10.5,7.9,0.267,0.265,0.342,0.441,0.783,0.349
3,2015,05,21,한화,1,0,0,7.00,7,2,0,4.9,17.1,0.276,0.263,0.300,0.500,0.800,0.344
4,2015,05,21,NC,1,0,0,5.00,5,2,1,13.5,18.9,0.273,0.258,0.361,0.548,0.909,0.391
5,2015,05,21,KIA,0,0,1,2.00,2,1,1,5.4,16.2,0.296,0.265,0.306,0.382,0.688,0.308
6,2015,05,21,KT,0,0,1,2.00,2,0,2,7.7,20.5,0.333,0.257,0.333,0.257,0.590,0.288
7,2015,05,21,Hero,0,0,1,3.00,3,1,0,0.0,29.4,0.304,0.235,0.235,0.382,0.617,0.267
8,2015,05,21,두산,0,0,1,1.00,1,0,0,6.2,21.9,0.217,0.167,0.219,0.200,0.419,0.200
9,2015,05,21,SK,0,0,1,1.00,1,0,1,18.9,24.3,0.190,0.133,0.297,0.133,0.430,0.236

In [55]:
pre_df_team = list()
target_year_ls = ['2015', '2016', '2017', '2018', '2019', '2020']
target_month_ls = ['03', '04', '05', '06', '07', '08', '09', '10', '11']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

In [72]:
for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
            driver.get(target_site)
            random_d = random.randrange(10,15)
            time.sleep(random_d)

            driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr')
            results = list()

            for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                results.append(td.text.split())
                        
            if len(results) == 12 :
                for i in range (1, 11) :
                    pre_df_team.append({
                            "연도" : target_year,
                            "월"   : target_month,
                            "일"   : target_day,
                            "팀명" : results[i][1],
                            '승' : results[i][3], 
                            '무' : results[i][4], 
                            '패' : results[i][5], 
                            'R/G' : results[i][8], 
                            '득점' : results[i][9], 
                            '홈런' : results[i][10], 
                            '도루' : results[i][11], 
                            '볼넷%' : results[i][12], 
                            '삼진%' : results[i][13], 
                            'BABIP' : results[i][14], 
                            '타율' : results[i][15], 
                            '출루율' : results[i][16], 
                            '장타율' : results[i][17], 
                            'OPS' : results[i][18],
                            'wOBA' : results[i][19]
                            }) 
        random_m = random.randrange(10,15)
        time.sleep(random_m)
    random_y = random.randrange(10,15)
    time.sleep(random_y)

KeyboardInterrupt:

In [57]:
df = pd.DataFrame(pre_df_team)
df

,연도,월,일,팀명,승,무,패,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2015,03,28,롯데,1,0,0,12.00,12,2,2,7.1,19.0,0.444,0.378,0.439,0.676,1.115,0.479
1,2015,03,28,두산,1,0,0,9.00,9,2,1,14.0,7.0,0.323,0.343,0.429,0.571,1.000,0.427
2,2015,03,28,삼성,1,0,0,6.00,6,0,3,9.5,11.9,0.394,0.342,0.405,0.421,0.826,0.378
3,2015,03,28,KIA,1,0,0,3.00,3,1,2,8.8,14.7,0.280,0.267,0.324,0.467,0.791,0.344
4,2015,03,28,Hero,1,0,0,5.00,5,2,2,13.0,15.2,0.194,0.200,0.304,0.400,0.704,0.315
5,2015,03,28,KT,0,0,1,9.00,9,2,1,17.4,17.4,0.462,0.400,0.511,0.600,1.111,0.486
6,2015,03,28,NC,0,0,1,4.00,4,0,2,10.5,21.0,0.360,0.290,0.368,0.290,0.658,0.314
7,2015,03,28,LG,0,0,1,1.00,1,0,0,11.8,17.6,0.304,0.241,0.333,0.379,0.712,0.328
8,2015,03,28,한화,0,0,1,4.00,4,0,4,13.0,13.0,0.278,0.238,0.353,0.286,0.639,0.309
9,2015,03,28,SK,0,0,1,1.00,1,0,0,13.9,22.2,0.217,0.161,0.278,0.258,0.536,0.260
10,2015,03,29,KIA,1,0,0,7.00,7,3,0,15.4,5.1,0.240,0.300,0.432,0.633,1.065,0.456
11,2015,03,29,한화,1,0,0,5.00,5,1,2,14.6,22.0,0.364,0.281,0.425,0.438,0.863,0.398
12,2015,03,29,SK,1,0,0,7.00,7,1,1,10.0,12.5,0.286,0.273,0.342,0.424,0.766,0.340
13,2015,03,29,두산,1,0,0,4.00,4,2,0,0.0,6.9,0.200,0.241,0.241,0.448,0.689,0.293
14,2015,03,29,롯데,1,0,0,5.00,5,2,2,23.1,20.5,0.211,0.207,0.410,0.448,0.858,0.391
15,2015,03,29,LG,0,0,1,6.00,6,0,3,7.0,14.0,0.441,0.385,0.419,0.513,0.932,0.412
16,2015,03,29,NC,0,0,1,1.00,1,0,0,5.3,2.6,0.257,0.250,0.289,0.333,0.622,0.283
17,2015,03,29,삼성,0,0,1,3.00,3,1,3,12.5,10.0,0.241,0.235,0.350,0.324,0.674,0.320
18,2015,03,29,KT,0,0,1,4.00,4,0,1,15.0,15.0,0.286,0.235,0.350,0.294,0.644,0.288
19,2015,03,29,Hero,0,0,1,3.00,3,0,0,10.3,18.0,0.269,0.212,0.333,0.273,0.606,0.297

In [30]:
driver.close()
driver.quit()